/*

*/

.version.index /* version checker */
{
	color: #0000F7;
	background-color: #7C1923;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	/*min-height: 1551px;*/
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}


.text-center {
    text-align: center !important;
}
.contain{
    position: relative;
    z-index: 2;
}
.fon{
    background: url(../images/fon.jpg) no-repeat 20% 0;
    position: relative;
    padding: 127px 269.5px 127px 269.5px;
    /*width: 1340px;*/
    min-width: 1000px;
    max-width: 2000px;
    margin-top: 69px;
    margin-left: -180px;
    



}
.fon::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}

.fon-heading{
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    font-size: 40px;
}

.fon-subheading{
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1;
    margin-top: 20px;
}


#u94-4
{
	z-index: 161;
	width: 190px;
	min-height: 65px;
	margin-right: -10000px;
	left: 1050px;
}

#u79,#u79-bw
{
	z-index: 154;
	min-height: 65px;
}

#pu469-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 28px;
}

#u469-4
{
	z-index: 47;
	width: 581px;
	min-height: 154px;
	background-color: #2B9526;
	line-height: 154px;
	color: #FFFFFF;
	font-size: 29px;
	text-align: center;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 317px;
	left: 100px;
}

#u471-8
{
	z-index: 51;
	width: 581px;
	min-height: 154px;
	background-color: #2B9526;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 29px;
	text-align: center;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 496px;
	left: 100px;
}

#u472-8
{
	z-index: 59;
	width: 581px;
	min-height: 154px;
	background-color: #2B9526;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 29px;
	text-align: center;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 675px;
	left: 100px;
}

#u473-6
{
	z-index: 67;
	width: 581px;
	min-height: 154px;
	background-color: #2B9526;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 29px;
	text-align: center;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 854px;
	left: 100px;
}

#u473-2
{
	padding-top: 45px;
}

#u474-8
{
	z-index: 73;
	width: 581px;
	min-height: 154px;
	background-color: #2B9526;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 29px;
	text-align: center;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1033px;
	left: 100px;
}

#u471-2,#u472-2,#u474-2
{
	padding-top: 35px;
}

#u469,#u471,#u472,#u473,#u474
{
	color: #FFFFFF;
}

#u471-4,#u471-6,#u472-4,#u472-6,#u473-4,#u474-4,#u474-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u471-3,#u471-5,#u472-3,#u472-5,#u473-3,#u474-3,#u474-5
{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
}

#u476-4
{
	z-index: 81;
	width: 204px;
	min-height: 60px;
	background-color: #383C47;
	line-height: 59px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1127px;
	left: 716px;
}

#u481-4
{
	z-index: 85;
	width: 400px;
	min-height: 45px;
	background-color: transparent;
	line-height: 42px;
	color: #383C47;
	font-size: 35px;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 317px;
	left: 716px;
}

#u481
{
	font-size: 35px;
    margin-top: 100px;
}

#u482-4
{
	z-index: 89;
	width: 524px;
	min-height: 51px;
	background-color: transparent;
	line-height: 24px;
	color: #383C47;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 716px;
}

#u483-23
{
	z-index: 93;
	width: 524px;
	min-height: 669px;
	background-color: transparent;
	color: #383C47;
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
	left: 716px;
}

#u483-2
{
	font-size: 20px;
	line-height: 28px;
	font-family: '__Open Sans_5';
	font-weight: 600;
}

#u483-3
{
	line-height: 6px;
	font-family: '__Open Sans_5';
	font-weight: 400;
}

#u483-5,#u483-7,#u483-9,#u483-11,#u483-13,#u483-15
{
	line-height: 34px;
	padding-left: 30px;
	font-family: '__Open Sans_5';
	font-weight: 400;
}

#u483-16
{
	font-size: 8px;
	line-height: 13px;
	font-family: '__Open Sans_5';
	font-weight: 400;
}

#u483-18,#u483-19,#u483-21
{
	text-align: justify;
	line-height: 24px;
	font-family: '__Open Sans_5';
	font-weight: 400;
}

#u689
{
	z-index: 116;
	width: 13px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 469px;
	left: 724px;
}

#u484
{
	z-index: 117;
	width: 13px;
	background-color: transparent;
	position: relative;
}

#u494
{
	z-index: 119;
	width: 13px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u497
{
	z-index: 121;
	width: 13px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u500
{
	z-index: 123;
	width: 13px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u503
{
	z-index: 125;
	width: 13px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u506
{
	z-index: 127;
	width: 13px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#u126
{
	z-index: 129;
	min-height: 66px;
	padding-bottom: 10px;
        margin-top: 125px;
}

#u79_align_to_page,#u126_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
	left: -100px;
}

#u185-4
{
	z-index: 130;
	width: 118px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 100px;
}

#u241-4
{
	z-index: 134;
	width: 264px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u242-4
{
	z-index: 138;
	width: 210px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 502px;
}

#u243-4
{
	z-index: 142;
	width: 243px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 722px;
}

#u244-4
{
	z-index: 146;
	width: 133px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 975px;
}

#u245-4
{
	z-index: 150;
	width: 130px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1118px;
}

#u246-4
{
	z-index: 146;
	width: 133px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 975px;
}

#u126-bw
{
	z-index: 129;
	min-height: 66px;
	margin-top: 189px;
}

#u96-12
{
	z-index: 165;
	width: 440px;
	min-height: 165px;
	margin-right: -10000px;
	left: 800px;
}

#u113
{
	margin-top: 13px;
	margin-bottom: -13px;
}

#u108-6
{
	z-index: 177;
	width: 206px;
	min-height: 43px;
}

#u110
{
	z-index: 183;
	width: 13px;
}

#u114
{
	z-index: 187;
	width: 560px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 100px;
}

#u120-4
{
	z-index: 189;
	width: 341px;
	min-height: 78px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 234px;
}

#u124-4
{
	z-index: 193;
	width: 252px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 113px;
	left: 279px;
}

#u296
{
	z-index: 2;
	min-height: 160px;
}

#u296_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
	left: -100px;
	padding-top: 47px;
	padding-bottom: 30px;
}

#menuu297
{
	z-index: 3;
	width: 910px;
	left: 212px;
}

#u298
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
}

#u301
{
	width: 91px;
	padding-bottom: 15px;
}

#u301.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u304-4
{
	width: 65px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 13px;
}

#u301.MuseMenuActive #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u375
{
	width: 223px;
	min-height: 34px;
	margin-right: -10000px;
	left: 93px;
}

#u376
{
	width: 223px;
	padding-bottom: 15px;
}

#u376.MuseMenuActive
{
	width: 223px;
	min-height: 0px;
	margin: 0px;
}

#u378-4
{
	width: 197px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 13px;
}

#u376.MuseMenuActive #u378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u382
{
	width: 175px;
	min-height: 34px;
	margin-right: -10000px;
	left: 318px;
}

#u383
{
	width: 175px;
	padding-bottom: 15px;
}

#u383.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u384-4
{
	width: 150px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 12px;
}

#u383.MuseMenuActive #u384-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u389
{
	width: 208px;
	min-height: 34px;
	margin-right: -10000px;
	left: 495px;
}

#u390
{
	width: 208px;
	padding-bottom: 15px;
}

#u390.MuseMenuActive
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u392-4
{
	width: 183px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 12px;
}

#u390.MuseMenuActive #u392-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u396
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
	left: 705px;
}

#u399
{
	width: 102px;
	padding-bottom: 15px;
}

#u399.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u400-4
{
	width: 77px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 12px;
}

#u399.MuseMenuActive #u400-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u403
{
	width: 101px;
	min-height: 34px;
	margin-right: -10000px;
	left: 809px;
}

#u406
{
	width: 101px;
	padding-bottom: 15px;
}

#u406.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u409-4
{
	width: 76px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 12px;
}

#u406.MuseMenuActive #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u440
{
	z-index: 40;
	width: 167px;
	left: 587px;
	margin-top: 29px;
}

#u434
{
	z-index: 45;
	width: 18px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u418-4
{
	z-index: 41;
	width: 135px;
	min-height: 20px;
	margin-right: -10000px;
	left: 32px;
}

#u296-bw
{
	z-index: 2;
	min-height: 160px;
	margin-top: 111px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-semibold.eot');
	src: local('☺'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Calibri_5';
	src: url('../fonts/calibri-bolditalic.eot');
	src: local('☺'), url('../fonts/calibri-bolditalic.woff') format('woff'), url('../fonts/calibri-bolditalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans.eot');
	src: local('☺'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1140px;
}

#page .verticalspacer
{
	clear: both;
}
