/*

*/

.version.vakansii /* version checker */
{
	color: #0000ED;
	background-color: #C52DEE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1140px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u86
{
	z-index: 138;
	width: 23px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 100px;
}

#u92-4
{
	z-index: 140;
	width: 182px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 136px;
}

#u94-4
{
	z-index: 144;
	width: 190px;
	min-height: 65px;
	margin-right: -10000px;
	left: 1050px;
}

#u79,#u79-bw
{
	z-index: 137;
	min-height: 65px;
}

#pu1469-50
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 28px;
}

#u1469-50
{
	z-index: 47;
	width: 570px;
	min-height: 435px;
	background-color: transparent;
	color: #383C47;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 100px;
}

#u1469-7
{
	font-size: 35px;
	font-family: '__Open Sans_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	width: 600px;
}

#u1469-4
{
	font-size: 14px;
	line-height: 17px;
}

#u1469-5
{
	font-size: 14px;
	font-family: '__Open Sans_5';
	font-weight: 700;
	line-height: 17px;
}

#u1469-6
{
	font-size: 14px;
	font-family: '__Open Sans_5';
	font-weight: 400;
	line-height: 17px;
}

#u1469-2,#u1469-3,#u1469-8
{
	font-size: 35px;
	line-height: 42px;
	font-family: '__Open Sans_5';
	font-weight: 400;
}

#u1529
{
	z-index: 64;
	width: 13px;
	background-color: transparent;
}

#u1533
{
	z-index: 72;
	width: 13px;
	background-color: transparent;
}

#u1469-10,#u1469-22,#u1469-24
{
	font-size: 20px;
	line-height: 24px;
	font-family: '__Open Sans_5';
	font-weight: 600;
}

#u1517
{
	z-index: 84;
	width: 13px;
	background-color: transparent;
}

#u1521
{
	z-index: 93;
	width: 13px;
	background-color: transparent;
}

#u1469,#u1469-15,#u1469-21,#u1469-30,#u1469-36,#u1469-42
{
	font-family: '__Open Sans_5';
	font-weight: 400;
}

#u1469-12,#u1469-17,#u1469-26,#u1469-32,#u1469-38
{
	font-size: 1px;
	line-height: 0px;
}

#u1525
{
	z-index: 102;
	width: 13px;
	background-color: transparent;
}

#u1529_img,#u1533_img,#u1517_img,#u1521_img,#u1525_img
{
	vertical-align: bottom;
}

#u1469-11,#u1469-16,#u1469-25,#u1469-31,#u1469-37,#u1469-43,#u1469-45,#u1469-46,#u1469-48
{
	font-size: 14px;
	font-family: '__Open Sans_5';
	font-weight: 400;
}

#u126
{
	z-index: 112;
	min-height: 66px;
	padding-bottom: 10px;
}

#u79_align_to_page,#u126_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
	left: -100px;
}

#u185-4
{
	z-index: 113;
	width: 118px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 100px;
}

#u241-4
{
	z-index: 117;
	width: 264px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u242-4
{
	z-index: 121;
	width: 210px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 502px;
}

#u243-4
{
	z-index: 125;
	width: 243px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 722px;
}

#u244-4
{
	z-index: 129;
	width: 133px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 975px;
}

#u245-4
{
	z-index: 133;
	width: 130px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1118px;
}

#u126-bw
{
	z-index: 112;
	min-height: 66px;
	margin-top: -153px;
}

#u96-12
{
	z-index: 148;
	width: 440px;
	min-height: 165px;
	margin-right: -10000px;
	left: 800px;
}

#u113
{
	margin-top: 13px;
	margin-bottom: -13px;
}

#u108-6
{
	z-index: 160;
	width: 206px;
	min-height: 43px;
}

#u110
{
	z-index: 166;
	width: 13px;
}

#u114
{
	z-index: 170;
	width: 560px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 100px;
}

#u120-4
{
	z-index: 172;
	width: 341px;
	min-height: 78px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 234px;
}

#u124-4
{
	z-index: 176;
	width: 252px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 113px;
	left: 279px;
}

#u296
{
	z-index: 2;
	min-height: 160px;
}

#u296_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
	left: -100px;
	padding-top: 47px;
	padding-bottom: 30px;
}

#menuu297
{
	z-index: 3;
	width: 910px;
	left: 212px;
}

#u298
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
}

#u301
{
	width: 91px;
	padding-bottom: 15px;
}

#u301.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u304-4
{
	width: 65px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 13px;
}

#u301.MuseMenuActive #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u375
{
	width: 223px;
	min-height: 34px;
	margin-right: -10000px;
	left: 93px;
}

#u376
{
	width: 223px;
	padding-bottom: 15px;
}

#u376.MuseMenuActive
{
	width: 223px;
	min-height: 0px;
	margin: 0px;
}

#u378-4
{
	width: 197px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 13px;
}

#u376.MuseMenuActive #u378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u382
{
	width: 175px;
	min-height: 34px;
	margin-right: -10000px;
	left: 318px;
}

#u383
{
	width: 175px;
	padding-bottom: 15px;
}

#u383.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u384-4
{
	width: 150px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 12px;
}

#u383.MuseMenuActive #u384-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u389
{
	width: 208px;
	min-height: 34px;
	margin-right: -10000px;
	left: 495px;
}

#u390
{
	width: 208px;
	padding-bottom: 15px;
}

#u390.MuseMenuActive
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u392-4
{
	width: 183px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 12px;
}

#u390.MuseMenuActive #u392-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u396
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
	left: 705px;
}

#u399
{
	width: 102px;
	padding-bottom: 15px;
}

#u399.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u400-4
{
	width: 77px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 12px;
}

#u399.MuseMenuActive #u400-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u403
{
	width: 101px;
	min-height: 34px;
	margin-right: -10000px;
	left: 809px;
}

#u406
{
	width: 101px;
	padding-bottom: 15px;
}

#u406.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u409-4
{
	width: 76px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 12px;
}

#u406.MuseMenuActive #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u440
{
	z-index: 40;
	width: 167px;
	left: 587px;
	margin-top: 29px;
}

#u434
{
	z-index: 45;
	width: 18px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u418-4
{
	z-index: 41;
	width: 135px;
	min-height: 20px;
	margin-right: -10000px;
	left: 32px;
}

#u296-bw
{
	z-index: 2;
	min-height: 160px;
	margin-top: 156px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-bold.eot');
	src: local('☺'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-semibold.eot');
	src: local('☺'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans.eot');
	src: local('☺'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Calibri_5';
	src: url('../fonts/calibri-bolditalic.eot');
	src: local('☺'), url('../fonts/calibri-bolditalic.woff') format('woff'), url('../fonts/calibri-bolditalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

body
{
	position: relative;
	min-width: 1140px;
}

#page .verticalspacer
{
	clear: both;
}
